<!DOCTYPE html>
<html>
  	<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width">
    	<title>About</title>
    	<link href="/styles/general.css" rel="stylesheet" type="text/css" />
    	<link href="/styles/header.css" rel="stylesheet" type="text/css" />
    	<link href="/styles/cards.css" rel="stylesheet" type="text/css" />
    	<link href="/styles/footer.css" rel="stylesheet" type="text/css" />
  	</head>
  	<body>
		<header class = "header"><h1>About Me</h1><div class = "half-scroll" data-src = "https://www.incimages.com/uploaded_files/image/1920x1080/getty_499578755_377423.jpg" style = "filter : brightness(90%);"></div></header>
		<section class = "content">
			<img src = "/images/anna.jpeg" class = "side-image">
			<h2>Welcome to Bananablog!</h2>
			<p>I am delighted you found my space. I have been Anna Banana since I was a kid. One friend used to tease me saying, "Anna Banana has lots of appeal, Anna Banana has lost her appeal!” I hope these writings will appeal to you! Writing is my way to make sense of the world and remember what is true: People matter more than stuff, everything that happens in this crazy world is used for my good and God’s glory, and I always can choose how to respond… even if someone is making bad jokes  about my name! ;-)</p>
			<p>I am a mama, an educator, a wife, an avid book reader, but mostly a child of God. He leads, I follow. He teaches, I learn. I fall, He picks me up. I seek Him and I find He reveals His great love to me day by day. His presence overwhelms me in all the right ways!</p>
			<p>Maybe something I wrote will encourage you to hopefulness and thankfulness. I share my perspective, which is sometimes bittersweet, frequently honest, in hopes that you might grow in trusting  the goodness of God. Thank you for spending a few minutes exploring what I have to share.</p>
			<h2>Books & Stories</h2>
			<div class = "books-and-stories">
				<div class = "book-or-story"><img src = "https://edit.org/images/cat/book-covers-big-2019101610.jpg"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></div>
				<div class = "book-or-story"><img src = "https://edit.org/images/cat/book-covers-big-2019101610.jpg"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></div>
				<div class = "book-or-story"><img src = "https://edit.org/images/cat/book-covers-big-2019101610.jpg"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></div>
			</div>
			<a href = "/books" class = "center-link">Discover more</a>
		</section>
		<footer class = "footer"></footer>
    	<script src="/scripts/footer.js"></script>
    	<script src="/scripts/scroll.js"></script>
  	</body>
</html>