<!--User inputs email -> backend to process email info and send link to reset password-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<title>Forgot Password</title>
    	<link href="/styles/login.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<form action = "/api/reset-password" method = "POST" id = "login">
			<h1>Forgot your password?</h1>
			<input placeholder = "Email@address.com" type = "email" id = "email" name = "email" autocomplete  = "on" required>
			<input type = "submit" value = "Reset">
		</form>
	</body>
</htm>


<!--


User goes to page link because they forgot their password ->

User inputs email and submits the form ->

Backend processes and sends an email to the address containing a link with query parameters of the password and the email ->

User inputs new password and submits the form ->

Backend sets the new password after checking the query parameters to make sure the user is legit and sets the cookies to remember the new info





User goes to page link to set a new password ->

User inputs email, old password, and new password and submits the form ->

Backend authenticates the user based on the new info and sets the new password and cookies


-->