<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<title>Reset Password</title>
		<link href="/styles/login.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<form method = "POST" action = "/api/new-password" id = "login" enctype = "multipart/form-data">
			<h1>New password</h1>
			<input type = "email" name = "email" placeholder = "Email">
			<input type = "password" name = "password" placeholder = "Old password">
			<input type = "password" name = "newPassword" placeholder = "New password">
			<input type = "submit" value = "Set password">
		</form>
	</body>
</html>