@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
	margin : 0;
	padding : 0;
}


body {
	width : 100vw;
	height : 100vh;
	overflow : hidden;
	display : flex;
	flex-direction : column;
	align-items : center;
	justify-content : center;
}


h1 {
	font-size : 1.5rem;
	font-family : 'Poppins', sans-serif;
	margin : 5px 15px;
	padding : 5px 50px;
	display : block;
}


button {
	font-size : 1rem;
	font-family : 'Poppins', sans-serif;
	margin : 5px 15px;
	padding : 5px 50px;
	border : 1px solid #909090;
	border-radius : 5px;
	display : block;
	cursor : pointer;
	background-color : #FFFFFF;
	width : 335px;
}
button:hover {
	background-color : #FAFAFA;
}